<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma de Visualização de Dados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
  <p> Arquivos: {% for file in names %}
      <span class=table_{{file.fileNumber}}> {{file.name}} </span>
            {% endfor %} 
  </p>
  <div id="container">
    <table id="containerTable" onclick="hideShowCols(this.id)">
        <thead>
              <tr>
                {% for header in headerTable %}
                  <th>{{header}}</th>
                {% endfor %}
              </tr>
        </thead>
        <tbody>
          {% for line in bodyTable %}
              <tr class=table_{{line.fileNumber}}>
                    {%for key, value in line.value.items()%}
                      <td>{{value}}</td>
                    {% endfor%}
              </tr>
          {% endfor %}    
        </tbody>
    </table>
  </div>
    <footer>
      <a href="http://www.inf.pucrs.br/davint" target="_blank"> Develop by DaVint - Data Visualization and Interaction Lab</a> 
    </footer>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/index.js') }}" ></script>

 </body>
</html>