<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma de Visualização de Dados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
  <p>Arquivos: {% for name in names %} 
                    {{name}}
            {% endfor %} 
            </p>          
    <table id="mstrTable">
        <thead>
              <tr>
                {% for header in header_data %}
                  <th>{{header}}</th>
                {% endfor %}      
              </tr>
        </thead>
        <tbody>
          {% for line in body_data %}
              <tr>  
                    {%for key, value in line.iteritems()%}
                      <td>{{value}}</td>
                    {% endfor%}
              </tr>
          {% endfor %}    
        </tbody>
    </table>
    <footer>
      <a href="http://www.inf.pucrs.br/davint" target="_blank"> Develop by DaVint - Data Visualization and Interaction Lab</a> 
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
   <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/index.js') }}" ></script>
</html>